body{
    background-color:#e28913;
    font-family:arial,sans-serif;
    text-align:center;
}
h1{
    color:darkblue;
}
ul{
    list-style-type:square;
}
a{
    text-decoration:none;
    color:green;
    font-weight:bold;
}