body {
    background-color: #e28913;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
}

a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}
