body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.card {
    background-color: #1e293b;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.card img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    margin: 10px 0;
}

h2 {
    color: #38bdf8;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

a:hover {
    background-color: #0ea5e9;
}
.project {
    background-color: #0f172a;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.project h4 {
    margin: 5px 0;
    color: #38bdf8;
}
