html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    padding-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0f172a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 18px;
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links li a:hover {
    color: #38bdf8;
}

.card {
    background-color: #1e293b;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    margin: 40px auto;

    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 15px 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input, textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}